* {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}

body {
  font-family: system-ui, Arial, sans-serif;
  background-color: #c5eeff;
  color: #1a1a1a;
  line-height: 1.7;
  padding: 2rem 1.5rem;
}

header {
  background: #0589db;
  border: 10px solid #ffe600;
  border-radius: 0 12px 12px 0;
  padding: 2rem;
  margin-bottom: 2.5rem;
    transition: border-color 0.2s;
}

header.hover {
  border-color: #000000;
}

header h1 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

header p {
  color: #000000;
  font-size: 20px;
}

h1 {
  font-size: 22px;
  font-weight: 500;
  margin: 2.5rem 0 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e0ddd6;
}

section {
  background: #068de7;
  border: 5px solid #f3e817;
  border-radius: 12px;
  padding: 1.25rem 1.5rem;
  margin-bottom: 0.75rem;
  transition: border-color 0.2s;
}

section:hover {
  border-color: #000000;
}

article h2 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

article h2::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #0088ff;
  flex-shrink: 0;
}

article p {
  font-size: 14px;
  color: #555;
  line-height: 1.65;
}

a {
    color: #fffb00;
    text-decoration: underline:none;
    transition: color 0.2s;
}
a:hover {    color: #00b3ff;
}
    button: transition: color 0.2s;
    button:hover {
        color: #00b3ff;
    }

nav {
    background: #acd8ff;  
    border: 5px solid #f3e817;
    border-radius: 12px;
    padding: 1.25rem 1.5rem;
    margin-bottom: 0.75rem;
    display: flex;
    gap: 1rem;
    transition: border-color 0.2s;
}
nav:hover {
    border-color: #000000;
}       